# Default ignored files
/shelf/
/workspace.xml
HELP.md
.gradle
build/
/images

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
